.cam-data-cover {
    width: 100%;
    // background-color: red;
    padding: 0px 95px;
    margin-top: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  
  .modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
  }
  
  .modal-text {
    margin-bottom: 20px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .cancel-btn,
  .delete-btn {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: lightgray;
    border: none;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }
  
  .modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
  }
  
  .modal-text {
    margin-bottom: 20px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
  
  .go-back-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .go-back-btn:hover {
    background-color: #45a049;
  }
  
  .tr{
    display: flex;
    gap: 5px;
  }