@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.feedback-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .campaign-feedback-img {
        width: 290px;
        height: 250px;
        margin-top: 24px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    p {
        color: #000000;
        font-family: "Nunito", sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-top: 2px; 
    }

    .campaign-btn {
        font-family: "Nunito", sans-serif;
        border: solid #FFFFFF 1.5px;
        border-radius: 4px;
        background-color: rgba(36, 123, 123, 1);
        font-size: 14px;
        color: #FFFFFF;
        align-items: center;
        font-weight: 600;
        padding: 6px 10px;
        cursor: pointer;
        display: flex;
        gap: 20px;
        box-shadow: 0px 5px 15px 0px rgba(36, 123, 123, 0.15);
        margin-top: 17px;

        .btn-icon {
            width: 15px;
            height: 15px;
        }
    }
    .campaign-btn:hover {
        color: #247B7B;
        background-color: #FFFFFF;
        transition: all 0.2s ease;
    }
}